

<div>
    </head>
    <style>
    div{
        background: rgb(0, 191, 255);
        height: 30vh;
        font-family: 'Permanent Marker', sans-serif;
    }
    p{
        font-size: 20vh;
        text-decoration: none;
    }
    </style>
</div>
<!--will be an empty div for now-->