<head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Rokkitt&display=swap" rel="stylesheet">
</head>
<style>
div{
    background: rgb(0, 191, 255);
    height: 30vh;
    font-family: 'Permanent Marker', sans-serif;
}
p{
    font-size: 20vh;
    text-decoration: none;
}
</style>
<div>  
    <a href="/user">
    <p>Walkles</p>
    </a>
</div>