<!DOCTYPE html>
<html>
  <head>
    <title>Walkles</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Rokkitt&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% include ./partials/head %>
      <% include ./partials/header %>
      <% include ./partials/footer %>
   
  </body>
</html>
