<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <span class="log-bar">
           <p></p>
            <a href="/logout">Log Out</a>  
        </span>
        <span class="service-bar">

        </span>
            <table class=dog-roster>
                <thead>
                    <th>Name</th>
                    <th>Breed</th>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
    </div>
    
</body>
</html>