  
    <!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Rokkitt&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>Walkles</title>
    </head>
    
    <html>
      <body>
    <% include ../partials/header %>
    <div>
       <div class= "card-action">
         <form action="/user/<%= user._id%>/dog" method="POST">
           <input type="text" name="name" placeholder="Name of dog" class="white-text" />
           <input type="text" name="breed" placeholder="Breed" class="white-text" />
           <button type="submit class="add-btn>Add Dog</button>
         </form>
       </div>
     </div>
     <% include ../partials/footer %>
    </body>
     </html>