  
    <% include ../partials/head%>
    <% include ../partials/header %>
    <div>
      <%if (user._id.equals (user && user._id) ){%>
       <div class= "card-action">
         <form action="/dogs" method="POST">
           <input type="text" name="text" class="white-text">
           <button type="submit class="add-btn>Add Dog</button>
         </form>
       </div>
     </div>
     <% include ../partials/header %>
