
<% include ../partials/head%>
<% include ../partials/header%>
<table>
    <thead>
        <th>name</th>
        <th>breed</th>
        <th>delete</th>
        <th>update</th>
    </thead>
    <tbody>
        <tr>
            <td><%= dog.name %></td>
            <td><%= dog.breed %></td>
                <form method="DELETE" action="dog/dog_:id">
                    <td>
                        <button type="submit">delete</button>
                    </td>
                </form>
            <td>
                <button type="submit">update</button>
            </td>
        </tr>
               
</tbody>
</table>

<% include ../partials/footer %>